In [1]:
import pandas as pd
import numpy as np

In [2]:
df =pd.read_csv("Reviews.csv")

In [4]:
df.head(3)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...

In [5]:
import nltk
from nltk.corpus import stopwords  #stopwords and in the or as a 
from nltk.stem import WordNetLemmatizer  #Caring -care playing -play
from sklearn.feature_extraction.text import TfidfVectorizer # importance to every word in DIWALI article cracker more imp than milk 
stop_words=set(nltk.corpus.stopwords.words('english'))

In [7]:
stop_words

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [6]:
from nltk.tokenize import word_tokenize
# I want to dance
# i
# want
# to 
# dance

In [16]:
def clean_text(headline):
    le=WordNetLemmatizer()
    word_tokens=word_tokenize(headline)
    print(word_tokens)
    tokens=[le.lemmatize(w,'v') for w in word_tokens if w not in stop_words and len(w)>3]
    cleaned_text=" ".join(tokens)
    return cleaned_text
#rev['cleaned_text']=rev['Text'].apply(clean_text)

In [18]:
clean_text("We found water on moon while playing with them")

['We', 'found', 'water', 'on', 'moon', 'while', 'playing', 'with', 'them']

'find water moon play'

In [20]:
vect =TfidfVectorizer(stop_words=stop_words,max_features=1000)
vect_text=vect.fit_transform(['find water moon play','moon damage astronaut'])

In [22]:
vect_text.toarray()

array([[0.        , 0.        , 0.53404633, 0.37997836, 0.53404633,
        0.53404633],
       [0.6316672 , 0.6316672 , 0.        , 0.44943642, 0.        ,
        0.        ]])

In [25]:
pd.DataFrame(vect_text.toarray(),columns=vect.get_feature_names())

   astronaut    damage      find      moon      play     water
0   0.000000  0.000000  0.534046  0.379978  0.534046  0.534046
1   0.631667  0.631667  0.000000  0.449436  0.000000  0.000000

In [ ]:
from sklearn.decomposition import LatentDirichletAllocation
lda_model=LatentDirichletAllocation(n_components=10,random_state=42) 
lda_top=lda_model.fit_transform(vect_text)

In [ ]:
Topic 0: 
chip n
snack n
chocolate n
cooky n
taste n
like n
peanut n
butter n
great n
good n

In [ ]:
Topic 1: shipping
shipping n
salt n
arrived n
order n
price n
delivered n
candy n
good n
fast n
grey n